# --*- Makefile -*--

MCU=atmega328p
PART=${MCU}
PORT=/dev/ttyUSB0

# Include files necessary to compile the Arduino project:

INC=\
-I ../libraries/RFID \
-I /usr/share/arduino/hardware/arduino/cores/arduino \
-I /usr/share/arduino/hardware/arduino/variants/standard \
-I /usr/share/arduino/libraries/SPI \
-I /usr/share/arduino/libraries/Wire

ARDUINO_DIR = /usr/share/arduino/hardware/arduino/cores/arduino \
	/usr/share/arduino/libraries/SPI
ARDUINO_CPP = $(wildcard $(addsuffix /*.cpp,${ARDUINO_DIR}))
ARDUINO_C   = $(wildcard $(addsuffix /*.c,${ARDUINO_DIR}))
ARDUINO_OBJ = $(notdir ${ARDUINO_CPP:%.cpp=%.o}) $(notdir ${ARDUINO_C:%.c=%.o})

LIB_DIR  = ../libraries
LIB_CPP  = $(filter-out ${LIB_DIR}/RC522/%,$(shell find ${LIB_DIR} -name '*.cpp'))
LIB_OBJ  = $(notdir ${LIB_CPP:%.cpp=%.o})
LIB_DIRS = $(sort $(dir ${LIB_CPP}))

