# --*- Makefile -*--

MCU=atmega328p
PART=${MCU}
PORT=/dev/ttyUSB3

# Include files necessary to compile the Arduino project:

## ARDUINO = /usr/share/arduino
ARDUINO = /home/saulius/install/arduino/arduino-1.8.5

INC=\
-I ../libraries/RC522 \
-I ${ARDUINO}/hardware/arduino/avr/cores/arduino \
-I ${ARDUINO}/hardware/arduino/avr/variants/standard \
-I ${ARDUINO}/hardware/arduino/avr/libraries/SPI/src \
-I ${ARDUINO}/hardware/arduino/avr/libraries/Wire/src

ARDUINO_DIR = ${ARDUINO}/hardware/arduino/avr/cores/arduino \
	${ARDUINO}/hardware/arduino/avr/libraries/SPI/src \
	${ARDUINO}/hardware/arduino/avr/libraries/Wire/src
ARDUINO_CPP = $(wildcard $(addsuffix /*.cpp,${ARDUINO_DIR}))
ARDUINO_C   = $(wildcard $(addsuffix /*.c,${ARDUINO_DIR}))
ARDUINO_OBJ = $(notdir ${ARDUINO_CPP:%.cpp=%.o}) $(notdir ${ARDUINO_C:%.c=%.o})

LIB_DIR  = ../libraries
LIB_CPP  = $(filter-out ${LIB_DIR}/RFID/%,$(shell find ${LIB_DIR} -name '*.cpp'))
LIB_OBJ  = $(notdir ${LIB_CPP:%.cpp=%.o})
LIB_DIRS = $(sort $(dir ${LIB_CPP}))
